.detailsWrapper {
  display: grid;
  grid-template:
    [start] "button button" 30px [row2]
    [row2] "info poster" 1fr [row-end] / 60% 1fr;

  column-gap: 10%;
  row-gap: 20px;
  align-items: center;

  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 20px;
  box-shadow: 0 6px 10px rgb(32, 27, 27);
  aspect-ratio: 5 / 2;
  padding: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.detailsBackBtn {
  grid-area: button;
  display: flex;
  align-items: start;
  width: 100%;
}

.detailsInfo {
  grid-area: info;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 15%;
  width: 100%;
}

.detailsPosterImg {
  grid-area: poster;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.backBtn {
  padding: 4px 8px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  transition: 500ms;
}

.backBtnArrow {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn:hover {
  text-decoration: underline;
}

.detailsInfoTitle {
  font-size: 24px;
  font-weight: 800;
  text-align: left;
}

.detailsInfoList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  width: 100%;
}

.detailsInfoItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: justify;
}

.detailsTitleStars {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailsLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.detailsLink {
  display: block;
  text-align: left;
  color: rgb(249, 249, 249);
  text-align: left;
  transition: 500ms;
  border-bottom: 1px solid rgb(249, 249, 249, 0.3);
}

.detailsLink:hover {
  transform: translateY(-4px);
  color: rgb(249, 249, 249);
}

.title {
  border-bottom: 1px solid rgba(249, 249, 249, 0.2);
}
