.reviewList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: left;
}

.reviewItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewAuthor {
  font-size: 20px;
  font-weight: 500;
}

.theEnd,
.sorry {
  font-size: 20px;
  font-weight: 700;
}

.textContainer {
  max-height: 100px; /* Ограничиваем высоту */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: max-height 0.5s ease;
}

.textContainer.expanded {
  max-height: none; /* Убираем ограничение по высоте при разворачивании */
}

.showMore {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, white, transparent); /* Градиент */
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
