.navigationWrapper {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0 16px;
}

.navigationIcons {
  width: 40px;
  height: 40px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.navigationLinkComplex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(249, 249, 249);
}

.link {
  transition: 500ms;
}

.link:hover {
  transform: translateY(-4px);
}

.active {
  border-bottom: 2px solid rgb(249, 249, 249);
}
