.upButton {
  position: fixed;
  bottom: 20px;
  right: 5px;
  font-size: 12px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  transition: all 0.3s;
  transform: rotate(-90deg);
}

.upButton:hover {
  background-color: black;
  color: #fff;
  border: 1px solid #fff;
}
