.castList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  justify-content: space-evenly;
  margin-top: 30px;
}

.castCard {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  aspect-ratio: 2 / 3;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  text-align: end;
  font-weight: 600;
}

.castOut {
  font-size: 20px;
  padding: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  box-shadow: 0 6px 10px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
}
